.download-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;

  &-file {
    padding: 7px 20px;
    display: flex;
    align-items: center;
    background: #FFFFFF;
    border-radius: 10px;
    flex-grow: 1;

    img {
      margin-right: 20px;
    }

    p {
      color: #3B3B3B;
      opacity: 0.5;
    }
  }
}