
.visited-container {
  background: #F9F9F9;
  border-radius: 3px;
  padding: 10px 4px;
  margin-bottom: 15px;

  .align-items-none {
    align-items: initial;
  }

  .second-row-m {
    margin-top: 6px;
  }

  &-row {
    display: flex;
    gap: 15px;
    align-items: center;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }

    .paper-container {
      width: 80%;
      display: flex;
      align-items: center;
      flex-wrap: wrap;
    }

    h3 {
      flex-basis: 20%;
      font-size: 14px;
      text-align: right;
      margin: 0;
    }

    p {
      margin: 5px 10px;
    }

    h4 {
      margin: 7px 10px;
      font-size: 14px;
      word-break: break-all;
    }

    .grey {
      color: #444444;
      opacity: .7;
      font-weight: 400;
      flex-basis: 18%;
    }
  }
}